body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.interface_wrapper {
  height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  &--instruments,
  &--colors {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    width: 226px;
    height: auto;
    margin-top: 60px;
    box-shadow: 1px black;
    &-item {
      height: 50px;
      border: 1px solid gray;
      cursor: pointer;
    }
  }
  &--canvas_element {
    width: 512px;
    height: 512px;
    border: 1px solid black;
  }
}

